.banner{
    height: 100vh;
    background: linear-gradient(to bottom, #0093E9, #80D0C7);
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container{
    /*height: 70%;*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

.titulo-banner{
    font-size: 24px;
}

.texto-banner{
    width: 100%;
    text-align: center;
    margin: auto;
    margin-bottom: 40px;
    font-size: 26px;
}

.boton-proyects{
    width: 230px;
    height: 55px;
    font-size: 25px;
    background: var(--color_negro_claro);
    border-radius: 20px;
    color: white;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}


@media(min-width: 720px){
    .titulo-banner{
        font-size: 42px;
    }
    .texto-banner{
        font-size: 33px;
    }
}