
.banner-proyectos{
    background: linear-gradient(to bottom, #a00502, #fc1607);
}

.banner-proyectos div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.banner-proyectos div a i{
    font-size: 2.5rem;
    color: black;
}

main{
    position: relative;
    padding: 20px;
}

.card{
    width: 18rem;
    background-color: var(--color_negro);
}

.card-title{
    font-size: 2rem;
    color: var(--color_blanco);
}

.card-body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.card-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    color: var(--color_secondary);
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.card-icons .bi-filetype-html{
    color: orangered;
}

.card-icons .bi-filetype-js{
    color: yellow;
}

footer .container-redes a i{
    font-size: 2.5rem;
    color: white;
    transition: all 0.4s ease-in;
}

footer .container-redes a i:hover{
    color: var(--color_secondary);
}



