main{
    padding: 30px 30px;
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcion img{
    width: 100%;
    margin-bottom: 20px;
}

@media(min-width: 720px){
    .descripcion img{
        width: 50%;
    }
}
