footer{
    background: var(--color_negro);
    padding: 20px;
}

.titulo-footer{
    color: white;
    margin-bottom: 20px;
}

.container-redes{
    display: flex;
    justify-content: space-around;
}

.container-redes a i{
    font-size: 2.5rem;
   color: white;
}

.container-redes a i:hover{
    color: var(--color_secondary);
}

@media(min-width: 720px){
    .container-redes{
        justify-content: flex-start;
        gap: 20px;
    }
}