.skills{
    padding: 20px;
}

.container-skills{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 30px;
}

.skill{
    width: 100px;
    text-align: center;
    font-weight: 700;
    background: var(--color_negro_claro);
    color: white;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
}

@media(min-width: 720px){
    .skill{
        width: 180px;
        padding: 15px;
    }
}